pkgbase = beets-git
	pkgdesc = Flexible music library manager and tagger - git version
	pkgver = 2.2.0.r76.gbcc91ffff
	pkgrel = 1
	url = https://beets.io/
	arch = any
	license = MIT
	checkdepends = bash-completion
	checkdepends = imagemagick
	checkdepends = python-beautifulsoup4
	checkdepends = python-discogs-client
	checkdepends = python-flask
	checkdepends = python-librosa
	checkdepends = python-mpd2
	checkdepends = python-numba
	checkdepends = python-py7zr
	checkdepends = python-pylast
	checkdepends = python-pytest
	checkdepends = python-reflink
	checkdepends = python-requests-oauthlib
	checkdepends = python-responses
	checkdepends = python-xdg
	checkdepends = python-mock
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	makedepends = python-sphinx
	makedepends = python-wheel
	depends = python
	depends = python-confuse
	depends = python-jellyfish
	depends = python-mediafile
	depends = python-lap
	depends = python-musicbrainzngs
	depends = python-platformdirs
	depends = python-unidecode
	depends = python-yaml
	optdepends = bash-completion: Bash completion
	optdepends = chromaprint: Chromaprint/Acoustid plugin
	optdepends = ffmpeg: Convert, ReplayGain plugins
	optdepends = gst-plugins-bad: Chromaprint/Acoustid, BPD, ReplayGain plugins
	optdepends = gst-plugins-good: Chromaprint/Acoustid, BPD, ReplayGain plugins
	optdepends = gst-plugins-ugly: Chromaprint/Acoustid, BPD, ReplayGain plugins
	optdepends = gst-libav: Chromaprint/Acoustid, BPD, ReplayGain plugins
	optdepends = gst-python: Chromaprint/Acoustid, BPD, ReplayGain plugins
	optdepends = imagemagick: Thumbnails plugin
	optdepends = python-beautifulsoup4: Lyrics plugin
	optdepends = python-discogs-client: Discogs plugin
	optdepends = python-flask: Web plugin
	optdepends = python-gobject: ReplayGain plugin
	optdepends = python-librosa: AutoBPM plugin
	optdepends = python-mpd2: MPDStats plugin
	optdepends = python-pyacoustid: Chromaprint/Acoustid plugin
	optdepends = python-pylast: LastGenre plugin
	optdepends = python-requests: Chromaprint/Acoustid, BPD, FetchArt plugins
	optdepends = python-requests-oauthlib: Beatport plugin
	optdepends = python-xdg: Thumbnails plugin
	provides = beets=2.2.0.r76.gbcc91ffff
	conflicts = beets
	source = git+https://github.com/beetbox/beets.git
	md5sums = SKIP

pkgname = beets-git
