pkgbase = arch-man-bot-git
	pkgdesc = Telegram bot for in-line search of man-pages
	pkgver = r10.e0d2e00
	pkgrel = 1
	url = https://t.me/archmanbot
	install = arch-man-bot.install
	arch = any
	license = GPL3
	makedepends = git
	depends = python-pytelegrambotapi
	provides = arch-man-bot
	conflicts = arch-man-bot
	source = arch-man-bot::git+https://github.com/alcortazzo/arch-man-bot.git
	source = systemd-credential-pass.patch
	source = arch-man-bot.service
	sha512sums = SKIP
	sha512sums = 83ff997c5417672d33729d42e4a7db542c02f86632e657253ff6c54bb0190fa420f69a57b8992770853be7c822be842ebe32c8cacb2993ebc46160eed85a1c92
	sha512sums = 33c98561c766ca7cbe524b148e04e17061b3966ed99e991e5178958149adc817d2d83a62d87b673343fd972da81d5e5aaf900b747eaef4c1e808d782584294a9

pkgname = arch-man-bot-git
