pkgbase = speech-dispatcher-git
	pkgdesc = High-level device independent layer for speech synthesis interface (development version)
	pkgver = 0.10.1.r188.g98f4df4e
	pkgrel = 1
	url = http://www.freebsoft.org/speechd
	arch = x86_64
	license = GPL2
	license = FDL
	makedepends = intltool
	makedepends = espeak-ng
	makedepends = libltdl
	makedepends = python-xdg
	makedepends = dotconf
	makedepends = libpulse
	makedepends = libao
	makedepends = git
	options = !emptydirs
	source = speech-dispatcher::git+https://github.com/brailcom/speechd.git
	sha512sums = SKIP

pkgname = speech-dispatcher-git
	depends = libspeechd-git=0.10.1.r188.g98f4df4e-1
	depends = libltdl
	depends = python-xdg
	depends = dotconf
	depends = libpulse
	depends = libao
	optdepends = festival: Speech output using Festival
	optdepends = espeak-ng: Speech output using ESpeak-ng
	optdepends = pulseaudio: PulseAudio support
	provides = speech-dispatcher
	conflicts = speech-dispatcher
	backup = etc/speech-dispatcher/clients/emacs.conf
	backup = etc/speech-dispatcher/modules/ibmtts.conf
	backup = etc/speech-dispatcher/modules/espeak.conf
	backup = etc/speech-dispatcher/modules/espeak-ng.conf
	backup = etc/speech-dispatcher/modules/swift-generic.conf
	backup = etc/speech-dispatcher/modules/festival.conf
	backup = etc/speech-dispatcher/modules/cicero.conf
	backup = etc/speech-dispatcher/modules/espeak-mbrola-generic.conf
	backup = etc/speech-dispatcher/modules/espeak-ng-mbrola-generic.conf
	backup = etc/speech-dispatcher/modules/dtk-generic.conf
	backup = etc/speech-dispatcher/modules/llia_phon-generic.conf
	backup = etc/speech-dispatcher/modules/ivona.conf
	backup = etc/speech-dispatcher/modules/epos-generic.conf
	backup = etc/speech-dispatcher/modules/flite.conf
	backup = etc/speech-dispatcher/speechd.conf

pkgname = libspeechd-git
	provides = libspeechd
	conflicts = libspeechd

